.wrapper{width:1000px;}

#header{width:100%; height:60px; background:#333;}
#logo{left:70px; top:-30px;}
#logo img{width:160px; height:160px;}

#banner,#banner-img,#banner-img ul li,#banner-img ul li a{width:100%; height:600px;}
#banner-img{left:0; top:0;}
#banner-img ul li{float:left;}
#banner-img ul li a{display:block;}
#banner-btn{left:0; bottom:30px; width:100%; height:8px; line-height:8px; font-size:0; text-align:center; z-index:99; overflow:hidden;} 
#banner-btn dl dd{display:inline-block; width:8px; height:8px; margin:0 6px; background:rgba(255,255,255,.5); border-radius:4px; cursor:pointer;}
#banner-btn dl dd.on{background:#fff;}

#main{padding:100px 0 60px 0;}

#left{width:600px;}
#app img{width:600px; height:300px;}

#right{width:300px; padding-top:0px;}

#content{width:1000px; padding-top:80px;}

#text{text-align:center;}
#text h2{height:36px; line-height:36px; margin-bottom:20px; font-size:34px; overflow:hidden;}
#text p{line-height:44px; font-size:22px;}

#download{width:400px; margin:40px auto 0 auto;}
#download h3{height:26px; line-height:26px; margin-bottom:40px; padding-left:0px; font-size:24px; text-align:center; overflow:hidden;}
#download h3 span{margin:0 20px;}
#code{width:140px; height:140px; overflow:hidden;}
#code img{width:140px; height:140px;}
#button{width:240px; height:140px; overflow:hidden;}
#button dl dd{height:60px; line-height:60px; background:#333; border-radius:6px; font-size:14px; text-align:center; color:#fff; overflow:hidden;}
#button dl dd:first-child{margin-bottom:20px;}
#button dl dd a{display:block; color:#fff;}
#button dl dd span{display:inline-block; background-repeat:no-repeat; background-position:left center;}
#button dl dd span.iphone{padding-left:46px; background-image:url(img/iphone.png);}
#button dl dd span.android{padding-left:45px; background-image:url(img/android.png);}

#footer{width:100%; height:60px; line-height:60px; background:#333; font-size:12px; color:#fff; overflow:hidden;}
#footer a{color:#fff;}