body{max-width:640px; min-width:320px; margin:0 auto;}

#header{height:3.125rem; background:#333;}
#logo{left:50%; top:-0.625rem; margin-left:-2.5rem; z-index:1000;}
#logo img{width:5rem; height:5rem;}

#banner-img ul li{float:left;}
#banner-img ul li a{display:block;}
#banner-btn{left:0; bottom:1.25rem; width:100%; height:0.5rem; line-height:0.5rem; font-size:0; text-align:center; z-index:99; overflow:hidden;} 
#banner-btn dl dd{display:inline-block; width:0.5rem; height:0.5rem; margin:0 0.375rem; background:rgba(255,255,255,.5); border-radius:50%; cursor:pointer;}
#banner-btn dl dd.on{background:#fff;}

#main{padding:2.5rem 0.9375rem;}
#text{text-align:center;}
#text h2{height:1.25rem; line-height:1.25rem; margin-bottom:0.9375rem; font-size:1.125rem; font-weight:bold; overflow:hidden;}
#text p{line-height:1.75rem; font-size:0.875rem;}

#download{margin-top:1.875rem;}
#download h3{height:1.125rem; line-height:1.125rem; margin-bottom:1.875rem; font-size:1rem; text-align:center; overflow:hidden;}
#download h3 span{margin:0 0.625rem;}
#code{width:7.5rem; height:7.5rem; overflow:hidden;}
#code img{width:7.5rem; height:7.5rem;}
#button{height:7.5rem; overflow:hidden;}
#button dl dd{height:3.125rem; line-height:3.125rem; background:#333; border-radius:0.375rem; font-size:0.875rem; text-align:center; color:#fff; overflow:hidden;}
#button dl dd:first-child{margin-bottom:0.9375rem;}
#button dl dd a{display:block; color:#fff;}
#button dl dd span{display:inline-block; background-repeat:no-repeat; background-position:left center;}
#button dl dd span.iphone{padding-left:2.625rem; background-image:url(img/iphone.png); background-size:1.375rem 1.625rem;}
#button dl dd span.android{padding-left:2.625rem; background-image:url(img/android.png); background-size:1.375rem 1.625rem;}

#fh{height:3.125rem;}
#footer{left:0; right:0; bottom:0; max-width:640px; min-width:320px; height:3.125rem; line-height:3.125rem; margin-left:auto; margin-right:auto; padding:0 0.9375rem; background:#333; box-sizing:border-box; font-size:0.75rem; color:#fff; text-align:center; overflow:hidden;}
#footer a{color:#fff;}

#msg{left:0; top:0; width:100%; background:#333; overflow:hidden; z-index:1002; display:none;}
#msg section{padding:1.25rem;}
#msg img{margin:0 auto;}
#msg button{width:10rem; height:2.5rem; line-height:2.5rem; margin:1.875rem auto 0 auto; border-radius:0.25rem; background:#d43c33; font-size:0.875rem; color:#fff;}

#auth{left:0; top:0; width:100%; height:100%; background:#fff; overflow-y:auto; z-index:1001; display:none;}
#auth section{padding:1.875rem 1.25rem;}
#auth h2{font-size:1.125rem; font-weight:bold; color:#d43c33;}
#auth p{margin-top:0.9375rem; font-size:0.875rem; color:#666;}
#auth img{margin:1.875rem auto 0 auto;}
#auth button{left:0; right:0; bottom:1.875rem; width:10rem; height:2.5rem; line-height:2.5rem; margin:0 auto; border-radius:0.25rem; background:#d43c33; font-size:0.875rem; color:#fff;}